<!DOCTYPE html>
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="The World Machine, A discord bot with multiple neat utilities, based aroundOneShot!">
    <meta name="description" content="">
    <title>The World Machine Bot</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/cool.css') }}" media="screen">
<link rel="stylesheet" href="{{ url_for('static',filename='styles/cool.css') }}" media="screen">
    <script class="u-script" type="text/javascript" src="{{ url_for('static',filename='lol.js') }}" defer=""></script>
    
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="cool">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode" data-lang="en">
    <section class="u-clearfix u-section-1" id="sec-0b04">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-border-2 u-border-palette-3-base u-container-style u-group u-shape-rectangle u-group-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-1" src="{{ url_for('static',filename='styles/images/litebulb.png') }}" alt="" data-image-width="220" data-image-height="220">
            <h1 class="u-align-center u-custom-font u-text u-text-default u-title u-text-1">The World Machine</h1>
          </div>
        </div>
        <h2 class="u-align-center u-custom-font u-text u-text-default u-text-2">A discord bot with multiple neat utilities, based around<br>OneShot!<br>
        </h2>
        <p class="u-align-center u-text u-text-default u-text-3">
          <span style="font-size: 1.5rem;">Features Include:</span>
          <br>
          <br>
            
        </p>
        <ul class="u-align-center u-custom-font u-text u-text-default u-text-4">
          <li>A custom, easy to use Text Generator</li>
          <li>Fun commands such as: /ask and /say with more to come</li>
          <li>A fully working music system. (WIP)</li>
        </ul>
        <p class="u-align-center u-text u-text-default u-text-5">
          <span style="font-size: 1.5rem;">How do I use this bot NOW?</span>
          <br>You can currently join the testing server&nbsp;<a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-3-base u-btn-1" href="https://discord.gg/QwCqxbpXDw" target="_blank">here</a>!
        </p>
        <img class="u-image u-image-default u-image-2" src="https://c.tenor.com/ciLZXfcJfnkAAAAC/molotov-niko-niko.gif" alt="" data-image-width="498" data-image-height="392">
      </div>
    </section>
    
    

  
</body></html>